flows/CreatePackageVersion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreatePackageVersion</name>
        <label>Create Package Version</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>PackageVersionCreateAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>packageVersionJson</name>
            <value>
                <elementReference>packageVersionJson</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>jsonInformation</name>
            <value>
                <elementReference>jsonInformation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>version</assignToReference>
            <name>version</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <interviewLabel>Create Package Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Package Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <elementReference>payload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreatePackageVersion</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>payload</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{ &quot;isSuccess&quot;: true, &quot;data&quot;:&quot;{!version}&quot;}</text>
    </textTemplates>
    <variables>
        <name>jsonInformation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>packageVersionJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>version</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
