flows/Distribute_Package_Pipeline.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Deployment_Step</name>
        <label>Create Deployment Step</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <actionName>ConfigurePipelineDistributionStep</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Navigate_To_User_Story_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>existingUserStoryId</name>
            <value>
                <elementReference>Select_Existing_User_Story.recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newSerializedUserStory</name>
            <value>
                <elementReference>Create_User_Story.serializedUserStory</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>packageVersionId</name>
            <value>
                <elementReference>Package_Version.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>User_Story_Id</assignToReference>
            <name>userStoryId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Set_New_User_Story</name>
        <label>Set New User Story</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Serialized_New_User_Story</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_User_Story.serializedUserStory</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Package_Selection_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Extra Variable introduced as the value from lwc component doesn&apos;t reflect again in next step.</description>
        <name>Set_Project</name>
        <label>Set Project</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Selected_Project_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Project.selectedProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Project_Selection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Existing_Story_Choice</name>
        <choiceText>Add to an existing story</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Story</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Story_Choice</name>
        <choiceText>Create new story</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Story</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_Story_Type</name>
        <label>Check User Story Type</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Select_Existing_User_Story_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Existing</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_User_Story_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Story_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Project_Screen</targetReference>
            </connector>
            <label>Is New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Project_Selection</name>
        <label>Validate Project Selection</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Create_User_Story_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Project_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Project_Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Project_Warning_Screen</targetReference>
            </connector>
            <label>No Project Selected</label>
        </rules>
    </decisions>
    <formulas>
        <name>New_User_Story_Title</name>
        <dataType>String</dataType>
        <expression>&apos;Install Package &apos; + {!Package_Version.Name} + &apos; - &apos; + &apos;Version &apos; + {!Package_Version.copado__Version_number__c}</expression>
    </formulas>
    <interviewLabel>Distribute Package - Pipeline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distribute Package - Pipeline</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirm_Package_Selection_Screen</name>
        <label>Confirm Package Selection Screen</label>
        <locationX>380</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_User_Story_Screen</targetReference>
        </connector>
        <fields>
            <name>Confirm_Package_Details_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Confirm Package Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_Package_Selection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirm_Package_Selection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Package_Details</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Package Name: {!Package_Version.copado__Artifact__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Package Record Type: {!Package_Version.copado__Artifact__r.RecordType.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirm_Package_Selection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Package_Version_Details</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Package Version Name: {!Package_Version.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Package Version Number: {!Package_Version.copado__Version_number__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirm_User_Story_Screen</name>
        <label>Confirm User Story Screen</label>
        <locationX>380</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Deployment_Step</targetReference>
        </connector>
        <fields>
            <name>Confirm_User_Story_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Confirm User Story&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confirm_User_Story</name>
            <extensionName>c:confirmUserStoryDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>existingUserStoryId</name>
                <value>
                    <elementReference>Select_Existing_User_Story.recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newSerializedUserStory</name>
                <value>
                    <elementReference>Serialized_New_User_Story</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_User_Story_Screen</name>
        <label>Create User Story Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_User_Story</targetReference>
        </connector>
        <fields>
            <name>Create_User_Story_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;New User Story: Utility&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_User_Story</name>
            <extensionName>c:createUserStory</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>projectId</name>
                <value>
                    <elementReference>Selected_Project_Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serializedUserStory</name>
                <value>
                    <elementReference>Serialized_New_User_Story</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>userStoryTitle</name>
                <value>
                    <elementReference>New_User_Story_Title</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Navigate_To_User_Story_Screen</name>
        <label>Navigate To User Story Screen</label>
        <locationX>380</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Navigate_To_User_Story</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;/{!User_Story_Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Navigate to the User Story Record&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Existing_User_Story_Screen</name>
        <label>Select Existing User Story Screen</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Confirm_Package_Selection_Screen</targetReference>
        </connector>
        <fields>
            <name>Select_Existing_User_Story</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>copado__UserStory__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select the User Story:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>copado__JobStep__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Project_Screen</name>
        <label>Select Project Screen</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Project</targetReference>
        </connector>
        <fields>
            <name>Select_Project_Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Select Pipeline and Project&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Project</name>
            <extensionName>c:selectPipelineProject</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedProject</name>
                <value>
                    <elementReference>Selected_Project_Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Project_Warning_Screen</name>
        <label>Select Project Warning Screen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Select_Project_Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Please select a project.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_User_Story_Type_Screen</name>
        <label>Select User Story Type Screen</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_User_Story_Type</targetReference>
        </connector>
        <fields>
            <name>Select_User_Story_Type</name>
            <choiceReferences>Existing_Story_Choice</choiceReferences>
            <choiceReferences>New_Story_Choice</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Existing_Story_Choice</defaultSelectedChoiceReference>
            <fieldText>Select User Story Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_User_Story_Type_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Package_Version</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Artifact_Version__c</objectType>
    </variables>
    <variables>
        <name>Selected_Project_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Serialized_New_User_Story</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Story_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
