flows/DistributePackage.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CheckPackageDistributionLicense</name>
        <label>Check Package Distribution License</label>
        <locationX>545</locationX>
        <locationY>278</locationY>
        <actionName>CheckPackageDistributionLicense</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>CheckLicense</targetReference>
        </connector>
        <faultConnector>
            <targetReference>LicenseCheckErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>userId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>hasLicense</assignToReference>
            <name>hasLicense</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>setPackageVersion</name>
        <label>Set Package Version</label>
        <locationX>248</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>selectedPkgVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectPackageVersion.selectedPkgVersion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>validatePackageVersionSelection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>distributionTypeEnvironment</name>
        <choiceText>Environment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Environment</stringValue>
        </value>
    </choices>
    <choices>
        <name>distributionTypePipeline</name>
        <choiceText>Pipeline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pipeline</stringValue>
        </value>
    </choices>
    <decisions>
        <name>checkDistributionType</name>
        <label>Check Distribution Type</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Environment_Distribution</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Environment</defaultConnectorLabel>
        <rules>
            <name>isPipeline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectDistributionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>distributionTypePipeline</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pipeline_Distribution</targetReference>
            </connector>
            <label>Is Pipeline</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLicense</name>
        <label>Check License</label>
        <locationX>545</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>NoLicenseScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No License</defaultConnectorLabel>
        <rules>
            <name>UserHasLicense</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>hasLicense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectPackageVersionScreen</targetReference>
            </connector>
            <label>User Has License</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the user has Enable Package Delivery Permission</description>
        <name>CheckPermission</name>
        <label>Check Permission</label>
        <locationX>957</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>NoPermissionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Permission</defaultConnectorLabel>
        <rules>
            <name>HasPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.copado__Enable_Package_Delivery</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckPackageDistributionLicense</targetReference>
            </connector>
            <label>Has Permission</label>
        </rules>
    </decisions>
    <decisions>
        <name>validatePackageVersionSelection</name>
        <label>Validate Package Version Selection</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>getPackageVersion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Package Version Selected</defaultConnectorLabel>
        <rules>
            <name>noPackageVersionSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedPkgVersion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>selectPackageVersionWarningScreen</targetReference>
            </connector>
            <label>No Package Version Selected</label>
        </rules>
    </decisions>
    <description>Flow for installing packages</description>
    <interviewLabel>DistributePackage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Distribute Package</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getPackageVersion</name>
        <label>Get Package Version</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectDistributionTypeScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedPkgVersion</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Artifact_Version__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>LicenseCheckErrorScreen</name>
        <label>License Check Error Screen</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>LicenseCheckErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoLicenseScreen</name>
        <label>No License Screen</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoLicenseWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;You do not have the necessary licenses to perform the action. Please get in touch with your System Administrator for more information.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoPermissionScreen</name>
        <label>No Permission Screen</label>
        <locationX>1370</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoPermissionWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;You do not have the necessary permissions to perform the action. Please get in touch with your System Administrator for more information.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectDistributionTypeScreen</name>
        <label>Select Distribution Type Screen</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkDistributionType</targetReference>
        </connector>
        <fields>
            <name>selectDistributionType</name>
            <choiceReferences>distributionTypeEnvironment</choiceReferences>
            <choiceReferences>distributionTypePipeline</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>distributionTypeEnvironment</defaultSelectedChoiceReference>
            <fieldText>Select Distribution Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectPackageVersionScreen</name>
        <label>Select Package Version Screen</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setPackageVersion</targetReference>
        </connector>
        <fields>
            <name>selectPackageVersionHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Select Package Version&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>selectPackageVersion</name>
            <extensionName>c:selectPackageVersion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedPkgVersion</name>
                <value>
                    <elementReference>selectedPkgVersion</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>selectPackageVersionWarningScreen</name>
        <label>Select Package Version Warning Screen</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>selectPackageVersionWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;Please select a package version.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>831</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckPermission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Environment_Distribution</name>
        <label>Environment Distribution</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <flowName>Distribute_Package_Environment</flowName>
        <inputAssignments>
            <name>Package_Version</name>
            <value>
                <elementReference>getPackageVersion</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Pipeline_Distribution</name>
        <label>Pipeline Distribution</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <flowName>Distribute_Package_Pipeline</flowName>
        <inputAssignments>
            <name>Package_Version</name>
            <value>
                <elementReference>getPackageVersion</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>packageDependencyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Name: {!varPackageDependency.Name}&lt;/p&gt;&lt;p&gt;{!varPackageDependency.copado__Depending_Artifact_Version__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>hasLicense</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPkgVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPackageDependencies</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPackageDependency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Artifact_Dependency__c</objectType>
    </variables>
</Flow>
