flows/GetPackageVersionWithKey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetPackageVersionWithKey</name>
        <label>Get Package Version With Key</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>GetPackageVersionWithKeys</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PublishSuccessEvent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>PublishFailureEvent</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subscriberVersionId</name>
            <value>
                <elementReference>subscriberVersionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dependenciesIds</name>
            <value>
                <elementReference>dependenciesSubscriberIds</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>versions</assignToReference>
            <name>versions</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Get Package Version With Key {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Package Version With Key</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>PublishFailureEvent</name>
        <label>Publish Failure Event</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: false, &quot;errorMessage&quot;: &quot;{!$Flow.FaultMessage}&quot;}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PublishSuccessEvent</name>
        <label>Publish Success Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: true, &quot;data&quot;: &quot;{!versions}&quot;}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetPackageVersionWithKey</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>dependenciesSubscriberIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>subscriberVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>versions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
