flows/InitiatePipelineDistribution.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Start_Distribution_Job</name>
        <label>Start Distribution Job</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>InitiatePipelineDistribution</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Progress_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Publish_Failure_Event</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>deploymentId</name>
            <value>
                <elementReference>deploymentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>packageVersionId</name>
            <value>
                <elementReference>packageVersionId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>jobExecution</assignToReference>
            <name>job</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Initiate Pipeline Distribution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initiate Pipeline Distribution</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Publish_Failure_Event</name>
        <label>Publish Failure Event</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: false, &quot;errorMessage&quot;: &quot;{!$Flow.FaultMessage}&quot;}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Publish_Success_Event</name>
        <label>Publish Success Event</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: true, &quot;data&quot;: &quot;Job Execution Id: {!jobExecution.Id}&quot; }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Progress_Status</name>
        <label>Update Progress Status</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Publish_Success_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Progress_Status__c</field>
            <value>
                <stringValue>New Job Started</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Distribution_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>deploymentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>jobExecution</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__JobExecution__c</objectType>
    </variables>
    <variables>
        <name>packageVersionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
