flows/Installed_Package_Callback.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retrieve_Package_Ids</name>
        <label>Retrieve Package Ids</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>PackageVersionIds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getJobStep</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Errors</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>subscriberId</name>
            <value>
                <elementReference>result.copado__Result_Data__c</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>PackageVersions</assignToReference>
            <name>versions</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Errors</name>
        <label>Assign Errors</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>result.copado__Error_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>result.copado__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Result_after_error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Record</name>
        <label>Assign Single Record</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>Installed_Package_Version_Record.copado__Package_Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Package_Versions_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Installed_Package_Version_Record.copado__Environment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getJobStep.copado__Destination_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection_Variable</name>
        <label>Assign to Collection Variable</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Installed_Package_Version_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Installed_Package_Version_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Package_Versions_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Function_Succeeded</name>
        <label>Is Function Succeeded</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Package_Ids</targetReference>
            </connector>
            <label>Is Success</label>
        </rules>
    </decisions>
    <interviewLabel>Installed Package Callback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Installed Package Callback</label>
    <loops>
        <name>Package_Versions_Loop</name>
        <label>Package Versions Loop</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <collectionReference>PackageVersions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Installed_Package_Versions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Installed_Package_Versions</name>
        <label>Create Installed Package Versions</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <inputReference>Installed_Package_Version_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Fetch Job Step Record</description>
        <name>getJobStep</name>
        <label>Get Job Step</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Package_Versions_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>result.copado__ParentId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__JobStep__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Destination_Id__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Result_after_error</name>
        <label>Update Result after error</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputReference>result</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Function_Succeeded</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Installed_Package_Version_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Installed_Artifact_Version__c</objectType>
    </variables>
    <variables>
        <name>Installed_Package_Version_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Installed_Artifact_Version__c</objectType>
    </variables>
    <variables>
        <name>PackageVersions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Artifact_Version__c</objectType>
    </variables>
    <variables>
        <name>result</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Result__c</objectType>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
