flows/UpdatePackageVersion.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <actionName>UpdatePackageVersion</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>UpdateResultOnSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateResultOnFailure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVersion</name>
            <value>
                <elementReference>newVersion</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <description>Flow to update package version</description>
    <interviewLabel>Update Package Version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Package Version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>PublishFailureEvent</name>
        <label>Publish Failure Event</label>
        <locationX>440</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: false }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>PublishSuccessEvent</name>
        <label>Publish Success Event</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <inputAssignments>
            <field>copado__Payload__c</field>
            <value>
                <stringValue>{ &quot;isSuccess&quot;: true }</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Topic_Uri__c</field>
            <value>
                <stringValue>/events/copado/v1/step-result/{!resultId}</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>UpdateResultOnFailure</name>
        <label>Update Result on Failure</label>
        <locationX>440</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>PublishFailureEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateResultOnSuccess</name>
        <label>Update Result on Success</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>PublishSuccessEvent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Progress_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
